:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(240 9% 9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(240 10% 3.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 3.9%);
    --primary: hsl(240 5.9% 10%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(240 4.8% 95.9%);
    --secondary-foreground: hsl(240 5.9% 10%);
    --muted: hsl(240 4.8% 95.9%);
    --muted-foreground: hsl(240 3.8% 46.1%);
    --accent: hsl(240 4.8% 95.9%);
    --accent-foreground: hsl(240 5.9% 10%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(240 5.9% 90%);
    --input: hsl(240 5.9% 90%);
    --ring: hsl(240 5.9% 10%);
    --radius: 0.5rem;

    --bt-black: hsl(240 5.9% 10%);
    --bt-white: hsl(0 0% 98%);

    --ff-base: 'IBM Plex Sans', sans-serif;
    --ff-mono: 'JetBrains Mono', monospaced;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: hsl(240, 9%, 9%);
        --foreground: hsl(0 0% 98%);
        --card: hsl(240 10% 3.9%);
        --card-foreground: hsl(0 0% 98%);
        --popover: hsl(240 10% 3.9%);
        --popover-foreground: hsl(0 0% 98%);
        --primary: hsl(0 0% 98%);
        --primary-foreground: hsl(240 5.9% 10%);
        --secondary: hsl(240 3.7% 15.9%);
        --secondary-foreground: hsl(0 0% 98%);
        --muted: hsl(240 3.7% 15.9%);
        --muted-foreground: hsl(240 5% 64.9%);
        --accent: hsl(240 3.7% 15.9%);
        --accent-foreground: hsl(0 0% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(240 3.7% 15.9%);
        --input: hsl(240 3.7% 15.9%);
        --ring: hsl(240 4.9% 83.9%);
    }
}





*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    margin: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;

}


html {
    color-scheme: light dark;
    height: 100%;
}

img {
    max-width: 100%;
    display: block;
    border-width: 1.2px;
    border-color: var(--border);
    border-style: solid;
    border-radius: 2px;
}

body {
    font-family: var(--ff-base);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    color: var(--foreground);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100%;
    width: min(100% - 3rem, 69ch);
    margin-inline: auto;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

header {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    padding: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--primary);
}

footer {
    margin-top: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}


code,
pre {
    font-family: var(--ff-mono);
    font-size: 0.95rem;
}

code:not(.language-python, .language-rust, .language-sh, .language-go, .language-html) {
    background-color: var(--accent);
    border-radius: 4px;
    padding-inline: 0.25rem;
    font-size: 0.95rem;
}

pre {
    padding: 1.25rem;
    overflow: auto;
    border-radius: 6px;
}

a {
    color: var(--accent-foreground);
    text-decoration: underline;
    transition: all 0.5s ease;
}

a:hover {
    color: var(--muted-foreground);
}

ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 0;
}

button,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 9px;
    border-radius: 6px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--accent-foreground);
}

input:focus {
    outline: none;
}

.tag-item {
    list-style-type: "";

}

.tag-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tag-count {
    margin-left: 1rem;
}

#featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: fit-content;
}


.featured-posts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.post-header {
    margin-bottom: 1rem;
}


.blog-list {
    list-style-type: none;
    background-color: var(--muted);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem;
    align-items: center;
    border-radius: 6px;
}

.blog-tag {
    text-decoration: none;
    padding: 2px 6px;
    font-size: 0.85rem;
    border-radius: 6px;
    font-weight: 500;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--border);
}

.tag-item>.blog-tag {
    font-size: 1.25rem;
    padding: 4px 8px;
}


.blog-date {
    font-size: 0.9rem;
}


.blog-meta {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.tag-python {
    background-color: rgba(255, 255, 0, 0.774);
    color: var(--bt-black);
}

.tag-python:hover {
    background-color: rgba(255, 255, 0, 0.957);
    color: var(--bt-black);
}

.tag-playwright {
    background-color: rgba(255, 0, 0, 0.757);
    color: var(--bt-white);
}

.tag-playwright:hover {
    background-color: rgba(255, 0, 0, 0.994);
    color: var(--bt-white);
}

.tag-web {
    background-color: rgba(0, 51, 255, 0.757);
    color: var(--bt-white);
}

.tag-web:hover {
    background-color: rgba(0, 51, 255, 0.985);
    color: var(--bt-white);
}

.tag-selenium {
    background-color: rgba(62, 224, 26, 0.757);
    color: var(--bt-black);
}

.tag-selenium:hover {
    background-color: rgba(66, 246, 25, 0.757);
    color: var(--bt-black);
}

#more-posts {
    margin-top: 2rem;
    align-self: center;
}


.mc-field-group {
    display: flex;
    gap: 0.5rem;
    padding: 2rem;

}

#mce-EMAIL {
    background-color: var(--primary-foreground);
    border-color: var(--border);
    font-size: 1rem;
}


.button {
    background-color: var(--primary);
    color: var(--primary-foreground);
    transition-duration: 0.5s;
    border-color: var(--border);
    font-size: 1rem;
}

.button:hover {
    background-color: var(--accent);
    color: var(--accent-foreground);
    border-color: var(--border);
    cursor: pointer;
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 65vh;
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 1.1rem;
    }

    code,
    pre {
        font-size: 1rem;
    }

    .blog-list {
        flex-direction: column;
        align-items: start;
        gap: 0.75rem;
    }


    .mc-field-group {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

    }
}