<!DOCTYPE html>
<html lang="en">

<!-- Set url variable -->
{%- if current_url -%}
{%- set url = current_url -%}
{%- else -%}
{%- set url = config.base_url ~ "/404/" -%}
{%- endif -%}

<!-- Set page/section specific variables -->
{%- if page -%}
{%- set description = page.description -%}
{%- set title = page.title -%}
{%- set type = "article" -%}
{%- elif section -%}
{%- set description = section.description -%}
{%- set title = section.title -%}
{%- set type = "website" -%}
{%- elif terms -%}
{%- set description = "List of tags to group content" -%}
{%- set title = "tags" -%}
{%- set type = "website" -%}
{%- elif term -%}
{%- set description = term.name -%}
{%- set title = term.name -%}
{%- set type = "website" -%}
{%- else -%}
{%- set description = "This page does not exist or I broke it" -%}
{%- set title = "I think its broken..." -%}
{%- set type = "website" -%}
{%- endif -%}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/_vercel/insights/script.js"></script>
    <link rel="stylesheet" href="/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&family=JetBrains+Mono&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon_chevron.png">
    <meta name="description" content="{{ description }}">
    <meta property="og:site_name" content="lewi.dev">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:type" content="{{ type }}">
    <meta property="og:description" content="{{ description }}">

    <title>{{ title }}</title>
</head>

<body>
    <div class=" container">
        <header>
            <nav>
                <a href="{{ get_url(path='/' ) }}">home</a>
                <a href="{{ get_url(path='@/blog/_index.md') }}">blog</a>
                <a href="{{ get_url(path='/tags') }}">tags</a>

            </nav>
        </header>
        <main>
            <section class="section">
                {% block content %} {% endblock %}
            </section>
        </main>
        <footer>
            <div id="mc_embed_signup">
                <form
                    action="https://gmail.us11.list-manage.com/subscribe/post?u=13194c5558d30926093337dc9&amp;id=47a8f2476c&amp;f_id=007a89e0f0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate="">
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                            <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" value="">
                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                value="Subscribe">
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            /* real people should not fill this in and expect good things - do not remove this or risk
                            form bot signups */
                            <input type="text" name="b_13194c5558d30926093337dc9_47a8f2476c" tabindex="-1" value="">
                        </div>
                    </div>
                </form>
            </div>

        </footer>
    </div>

</body>

</html>