{% extends "base.html" %} {% block content %}
<div>
  <div style="opacity: 1; transform: none">
    <article class="py-6 prose dark:prose-invert">
      <div class="mb-10">
        <h1 class="mb-2 text-3xl">{{ page.title }}</h1>
        <p class="text-base mt-0">{{ page.date }}</p>
        {% for tag in page.taxonomies.tags %} {% set url = get_taxonomy_url(kind="tags", name=tag,
        lang=page.lang) %}
        <a
          class="inline-block mr-2 text-sm text-grey-400 dark:text-grey-200 hover:underline"
          href="{{url | safe }}"
          >#{{ tag }}</a
        >
        {% endfor %}
      </div>
      {{ page.content | safe }}
      <a href="#top">Back to top^</a>
    </article>
  </div>
</div>
{% endblock content %}
