{% extends "base.html" %}

{% block content %}

<div class="typed-div">
    <span id="typed"></span>
</div>



<div>
    <ul>
        {% set blog_section=get_section(path="blog/_index.md" ) %} {% for page in blog_section.pages %} {%
        if
        page.extra.featured %}
        <li class="blog-list"><a href="{{page.permalink}}">{{page.title}}</a></li>


        {% endif %}
        {% endfor %}
    </ul>
    <!-- <a href="{{ get_url(path='@/blog/_index.md') }}">more posts</a> -->

</div>

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    const typed = new Typed('#typed', {
        strings: ['Python', 'Automation', 'Testing'],
        typeSpeed: 80,
        loop: true,
        backDelay: 1200,
        backSpeed: 30,
        showCursor: true,
        cursorChar: '|'
    });
</script>

{% endblock content %}